@import 'resets.css';
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(https://fonts.gstatic.com/s/pressstart2p/v8/e3t4euO8T-267oIAQAu6jDQyK3nVivY.ttf) format('truetype');
}
.buttons-common-style {
  height: 40px;
  justify-self: center;
  align-self: center;
  user-select: none;
  text-transform: none;
  margin: 0;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.main__grid {
  width: 290px;
  display: grid;
  background-color: lightgray;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(7, 50px);
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  padding: 5px;
}
.main__grid .grid-items__screen {
  width: 270px;
  grid-column: 1 / span 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #353535;
  font-family: 'Press Start 2P', cursive;
  background-color: white;
  overflow: hidden;
  height: 40px;
  justify-self: center;
  align-self: center;
  user-select: none;
  text-transform: none;
  margin: 0;
}
.main__grid .grid-items__clear {
  grid-column: 1 / span 2;
}
.main__grid .grid-items__clear-entry {
  grid-column: 3 / span 2;
}
.main__grid .grid-items__clear,
.main__grid .grid-items__clear-entry {
  width: 130px;
  height: 40px;
  justify-self: center;
  align-self: center;
  user-select: none;
  text-transform: none;
  margin: 0;
}
.main__grid .grid-items__digit,
.main__grid .grid-items__operator,
.main__grid .grid-items__separator,
.main__grid .grid-items__equality-sign {
  width: 60px;
  height: 40px;
  justify-self: center;
  align-self: center;
  user-select: none;
  text-transform: none;
  margin: 0;
}
.main__grid .grid-items__operator--superscript {
  font-size: 0.8rem;
}
